@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --darkCyan: hsl(185, 75%, 39%);
  --veryDarkSaturatedBlue: hsl(229, 23%, 23%);
  --veryDarkgrayishBlue: hsl(227, 10%, 46%);
  --darkGray: hsl(0, 0%, 59%);
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkCyan);
}

main {
  border-radius: 10px;
  width: 20vw;
  margin-top: 100px;
  background-color: white;
}
.card-background {
  background-image: url(./images/bg-pattern-card.svg);
  background-size: contain;
  height: 20vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.profileImage {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  max-width: 30%;
  border: 5px solid white;
}
.card-background h1 {
  text-align: center;
  font-size: 0.9rem;
  color: var(--veryDarkSaturatedBlue);
}
.card-background p {
  color: var(--veryDarkgrayishBlue);
  font-weight: 400;
  font-size: 0.7rem;
  text-align: center;
}
.card-details {
  display: flex;
}
.card-details h2 {
  font-size: 0.7rem;
}
.card-details p {
  font-size: 0.6rem;
}
