@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --darkCyan: hsl(185, 75%, 39%);
  --veryDarkSaturatedBlue: hsl(229, 23%, 23%);
  --veryDarkgrayishBlue: hsl(227, 10%, 46%);
  --darkGray: hsl(0, 0%, 59%);
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkCyan);
}
main {
  background-color: white;
  border-radius: 10px;
}
.bg-pattern {
  background-image: url(./images/bg-pattern-top.svg),
    url(./images/bg-pattern-bottom.svg);
  background-repeat: no-repeat no-repeat;
}
.card-background {
  background-image: url(./images/bg-pattern-card.svg);
  background-size: contain;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}
.profileImage {
  position: absolute;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  max-width: 30%;
  border: 5px white solid;
}
.card-background h1 {
  color: var(--veryDarkSaturatedBlue);
  text-align: center;
  position: absolute;
}

hr {
  position: relative;
  top: 60px;
  margin-top: 70px;
  border: none;
  background-color: var(--veryDarkgrayishBlue);
  opacity: 0.3;
  height: 1px;
}
.card-details_followers,
.card-details_likes,
.card-details_photos {
  position: absolute;
  top: 85px;
}
.card-details_followers {
  left: 60px;
}
.card-details_likes {
  left: 140px;
}
.card-details_photos {
  right: 50px;
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  main {
    width: 26vw;
    margin-top: 150px;
    margin-bottom: 100px;
  }
  /* add background pattern top-bottom */
  .bg-pattern {
    background-position: top -580px left -340px, top 330px left 565px;
  }
  /* add background pattern to card */
  .card-background {
    height: 22vh;
  }
  .profileImage {
    left: 110px;
    top: 80px;
  }
  .card-background h1 {
    font-size: 1rem;
    top: 190px;
    left: 110px;
  }
  span {
    color: var(--veryDarkgrayishBlue);
    padding-left: 5px;
    font-weight: 400;
  }
  .card-background p {
    color: var(--veryDarkgrayishBlue);
    font-weight: 400;
    font-size: 0.8rem;
    position: absolute;
    top: 220px;
    left: 140px;
  }
  .card-details {
    display: flex;
    height: 25vh;
    position: relative;
  }

  .card-details h2 {
    font-size: 1rem;
    color: var(--veryDarkSaturatedBlue);
    text-align: center;
  }
  .card-details p {
    font-size: 0.6rem;
    padding-top: 5px;
    color: var(--veryDarkgrayishBlue);
  }
}

/* smartphones (portrait and landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  main {
    width: 85vw;
    margin: 150px auto;
  }
  /* add background pattern top-bottom */
  .bg-pattern {
    background-position: top -571px left -733px, top 281px left 119px;
  }
  /* add background pattern to card */
  .card-background {
    height: 20vh;
  }
  .profileImage {
    left: 110px;
    top: 80px;
  }
  .card-background h1 {
    font-size: 1.2rem;
    top: 200px;
    left: 90px;
  }
  span {
    color: var(--veryDarkgrayishBlue);
    padding-left: 5px;
    font-weight: 400;
  }
  .card-background p {
    color: var(--veryDarkgrayishBlue);
    font-weight: 400;
    font-size: 1rem;
    position: absolute;
    top: 230px;
    left: 130px;
  }
  .card-details {
    display: flex;
    height: 25vh;
    position: relative;
  }
  .card-details h2 {
    font-size: 1.2rem;
    color: var(--veryDarkSaturatedBlue);
    text-align: center;
  }
  .card-details p {
    font-size: 0.8rem;
    color: var(--veryDarkgrayishBlue);
  }
}
